:root {
  --backgroundBlue: #dde8ea;
  --darkBlue: #25596d;
  --orange: #ff7f1c;
  --darkOrange: #803f0e;
  --lightBlue: #cad7d9;
}

* {
  margin: 0;
  font-family: Montserrat, Arial;
}

body {
  background-color: var(--backgroundBlue);
}

header {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}

/* Logo Header */

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.divLogo {
  height: 100%;
  width: 1px;
  background-color: white;
}

.logosContainer img {
  height: 100px;
}

/* Opções Header */

.opcoesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.opcoesContainer a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  background-color: var(--darkBlue);
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav {
  display: flex;
  gap: 1rem;
  margin: 0;
  list-style: none;
}
footer nav a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Main Image */

.mainImage {
  position: relative;
  height: 45dvh;
  overflow: hidden;
  display: flex;
  z-index: -1;
}

.mainImage img {
  width: 100%;
  object-fit: cover;
}

.floatingCards {
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  height: 45dvh;
  right: 10%;
}

.floatingCardsTop,
.floatingCardsBottom {
  padding: 1.5rem 1rem;
  width: 250px;
}

.floatingCardsTop {
  position: relative;
  background-color: var(--orange);
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}
.floatingCardsBottom {
  position: absolute;
  top: 80px;
  left: -25%;
  z-index: 0;
  background-color: var(--darkBlue);
  border-radius: 1rem;
}

/* MAIN PAGE - START*/

/* Áreas de Interesse */

.areasInteresse {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.areasInteresseHeader {
  width: 100%;
}

.areasInteresseHeader h1 {
  color: var(--darkBlue);
  font-size: 1.5rem;
}

.areaCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.areaCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.maisCursos {
  gap: 10px;
  color: white;
  background-color: var(--darkBlue);
}

/* Carousel */

.carouselSection {
  background-color: var(--lightBlue);
  border-radius: 1rem;
  height: 600px;
  margin: 2rem 10%;
  padding: 2rem;
}

.carouselHeader {
  display: flex;
  justify-content: center;
}

.carouselHeader h1 {
  background-color: var(--orange);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

/* Carousel Slider */

.carouselContainer {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.carouselCard {
  position: absolute;
  width: 500px;
  padding: 2rem;
  transition: 500ms;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.carouselVideo {
  display: flex;
  justify-content: center;
  height: 300px;
  aspect-ratio: 16/9;
}
.carouselVideo iframe {
  aspect-ratio: 16/9;
  border: none;
  border-radius: 1rem;
}

.carouselDescContainer {
  transition: 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.carouselDesc {
  font-weight: 500;
  color: var(--darkBlue);
  text-align: center;
}

.carouselProf {
  font-weight: 800;
  color: var(--darkBlue);
}

#carouselNext,
#carouselPrev {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--orange);
  border: none;
  background-color: transparent;
  font-size: xxx-large;
  font-weight: bold;
  cursor: pointer;
}

#carouselNext {
  left: unset;
  right: 5px;
}

/* Ver Cursos */

.verCursosSection {
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  gap: 2rem;
  padding: 3rem 25%;
}

.verCursosHeader {
  font-weight: 500;
  font-size: 2rem;
}

.verCursosBtn {
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.verCusosDesc {
  font-weight: 400;
  font-size: 1.8rem;
}

/* Sobre */

.sobreSection {
  padding: 4rem 0;
  color: var(--darkBlue);
  background-color: var(--lightBlue);
}

.sobreHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sobreHeader h1 {
  font-size: 2rem;
  text-align: center;
}

.sobreHeader div {
  border-radius: 1rem;
  height: 2px;
  width: 80%;
  background-color: var(--darkBlue);
}

.sobreHeader p {
  font-size: 1.5rem;
  text-align: center;
}

/* sobreCarousel */

.sobreCarouselContainer {
  overflow: hidden;
}

.sobreCarousel {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  height: 150px;
  margin: 6rem 0;
}

/* Card */

.sobreCard {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  border-radius: 1rem;
  width: var(--width);
  height: var(--height);
  left: 100%;
  animation: autoRun 20s linear infinite;
  animation-delay: calc((20s / var(--quantity)) * (var(--position) - 10));
  transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sobreCarousel:hover .sobreCard {
  animation-play-state: paused !important;
  opacity: 0.75;
}

.sobreCard:hover {
  opacity: 1 !important;
}

/* Icon */

.sobreIcon {
  background-color: var(--orange);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 2rem));
  border-radius: 100%;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobreIcon ion-icon {
  font-size: 4rem;
  color: var(--darkOrange);
}

/* Text */

.sobreCard h3 {
  color: white;
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
  z-index: 10;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

/* Duvidas */

.sobreDuvidas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sobreDuvidas h1 {
  font-size: 2rem;
}

.sobreDuvidas p {
  font-size: 1.5rem;
}
.sobreDuvidas p a {
  font-weight: 600;
  color: var(--darkBlue);
}

/* Duvidas */

.duvidasContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}

.duvidasCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 30%;
  padding: 1rem;
  background-color: var(--darkBlue);
  border-radius: 1rem;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.duvidasCard h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.duvidasCard h2 {
  font-weight: 400;
  color: var(--lightBlue);
  font-size: 1rem;
  padding: 0 2rem;
}

/* MAIN PAGE - END*/

/* CURSOS PAGE - START */

.divMain {
  height: 10px;
  background-color: var(--darkBlue);
}

main {
  display: flex;
}

/* Aside Filtros */

main aside {
  width: 13%;
  color: white;
  position: sticky;
  height: 100dvh;
  top: 0;
  background-color: var(--darkBlue);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
}

/* Comparar + Pesquisar (Btn) */

.asideBtns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Seleciona os dois Btn */
.asideBtns * {
  border: none;
  height: 50px;
  font-size: 100%;
  border-radius: 1rem;
}

/* Comparar Cursos */

.compararCursos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--orange);
  color: var(--darkOrange);
  cursor: pointer;
}

.compararCursos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pesquisar Cursos */

.pesquisarCursos {
  padding: 0 1rem;
}

/* Tipos de Curso */

.tipoCursosHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tipoCursosHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--backgroundBlue);
  color: var(--darkBlue);
  font-size: 1rem;
  font-weight: 800;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 10px;
  border-radius: 100%;
}

.cursosSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
}

.cursosSelect input {
  border: 0px;
  width: 10%;
  height: 1rem;
}

.cursosSelect label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1.5rem;
}

/* Curso texto */

.Cursos {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 3em;
  flex: 1;
  width: 100%;
}

.textoCurso h1 {
  font-size: 4em;
  color: var(--orange);
}

.textotopico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
}

.textotopico h1 {
  padding-top: 1em;
  font-size: 38px;
  color: var(--darkBlue);
}

.qtdCursos h1 {
  font-size: 1.5em;
  color: #999;
}

.MostrarMais {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  width: 100%;
}

.botaoMostrarMais {
  background-color: var(--darkBlue);
  color: white;
  padding: 16px 32px;
  border-radius: 18px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}

/* curso card */

.cursoCard {
  margin-top: 2em;
  background: #fff;
  border-radius: 40px;
  padding: 20px 16px 16px 16px;
  flex: 0 1 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: #333;
  position: relative;
}

.compararLabel {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
  font-size: 1.2em;
  padding: 2px 6px;
}

.compararLabel input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.Modalidade {
  padding: 4px 10px;
  border: 1px solid;
  border-radius: 20px;
  font-size: 1em;
  background-color: #f8f8f8;
}

.cursoBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.cursoBody h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.3;
  opacity: 80%;
}

.cursoBody img {
  width: 90px;
}

.btnDetalhes {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid;
  background: #f8f8f8;
  font-size: 1em;
  align-self: flex-start;
  cursor: pointer;
  transition: background 0.2s ease;
}

.conjunto {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
