/* MAIN PAGE - START*/

/* Cursos */

.cursos {
  padding: 0 10%;
}

.cursosContainer {
  /* background-color: red; */
  position: relative;
  display: flex;
  overflow: hidden;
  height: 250px;
  gap: 1dvw;

}

.cursoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(var(--darkerBlue) 25%, var(--darkBlue) 75%);
  min-width: 200px;
  height: 100%;
  border-radius: 1rem;
  color: white;
}

.cursoIcon {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.cursoIcon h4 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: var(--darkBlue);
  border-radius: 1rem;
  z-index: 1;
}

.cursoIcon img{
  filter: brightness(100);
  height: 100px;
  object-fit: scale-down;
}

.cursoDesc {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
}

.cursoDesc h3 {
  font-size: 1rem;
}

.cursoDesc a {
  background-color: white;
  text-decoration: none;
  color: var(--darkerBlue);
  border: none;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 1rem;
}

.nextCurso {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 100%;
  padding: 1rem;
  background-color: var(--backgroundBlue);
  top: 0;
  right: 0;
  z-index: 10;
}

.nextCurso button {
  cursor: pointer;
  background-color: var(--darkBlue);
  border: none;
  color: white;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* Áreas de Interesse */

.areasInteresse {
  padding: 2rem 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.areasInteresseHeader {
  width: 100%;
}

.areasInteresseHeader h1 {
  color: var(--darkBlue);
  font-size: 1.5rem;
}

.areaCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.areaCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.maisCursos {
  gap: 10px;
  color: white;
  background-color: var(--darkBlue);
}

/* Carousel */

.carouselSection {
  background-color: var(--lightBlue);
  border-radius: 1rem;
  height: 600px;
  margin: 4rem 20%;
  padding: 2rem;
}

.carouselHeader {
  display: flex;
  justify-content: center;
}

.carouselHeader h1 {
  background-color: var(--orange);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

/* Carousel Slider */

.carouselContainer {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.carouselCard {
  position: absolute;
  padding: 2rem;
  transition: 500ms;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.carouselVideo {
  display: flex;
  justify-content: center;
  aspect-ratio: 16/9;
}
.carouselVideo iframe {
  aspect-ratio: 16/9;
  border: none;
  border-radius: 1rem;
}

.carouselDescContainer {
  transition: 500ms;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.carouselDesc {
  font-weight: 500;
  color: var(--darkBlue);
  text-align: center;
}

.carouselProf {
  font-weight: 800;
  color: var(--darkBlue);
}

#carouselNext,
#carouselPrev {
  position: absolute;
  left: 0;
  bottom: 10%;
  padding: 0 20%;
  color: var(--orange);
  border: none;
  background-color: transparent;
  font-size: xxx-large;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

#carouselNext {
  left: unset;
  right: 0;
}

/* Ver Cursos */

.verCursosSection {
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  gap: 2rem;
  padding: 3rem 25%;
}

.verCursosHeader {
  font-weight: 500;
  font-size: 1.5rem;
}

.verCursosBtn {
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.verCusosDesc {
  font-weight: 500;
  font-size: 1rem;
}

/* Sobre */

.sobreSection {
  color: var(--darkBlue);
  background-color: var(--lightBlue);
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  gap: 2rem;
}

.sobreHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sobreHeader h1 {
  font-size: 1.5rem;
  text-align: center;
}

.sobreHeader div {
  border-radius: 1rem;
  height: 2px;
  width: 30%;
  background-color: var(--darkBlue);
}

.sobreHeader p {
  font-size: 1.2rem;
  text-align: center;
}

/* sobreCarousel */

.sobreCarouselContainer {
  overflow: hidden;
}

.sobreCarousel {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  height: 150px;
  margin: 6rem 0;
}

/* Card */

.sobreCard {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--orange);
  border-radius: 1rem;
  width: var(--width);
  height: var(--height);
  left: 100%;
  animation: autoRun 60s linear infinite;
  animation-delay: calc((60s / var(--quantity)) * (var(--position) - 10));
  transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sobreCarousel:hover .sobreCard {
  animation-play-state: paused !important;
  opacity: 0.75;
}

.sobreCard:hover {
  opacity: 1 !important;
}

/* Icon */

.sobreIcon {
  background-color: var(--orange);
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 0rem));
  border-radius: 100%;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobreIcon ion-icon {
  font-size: 3rem;
  color: var(--darkOrange);
}

/* Text */

.sobreCard h3 {
  color: white;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
  margin-top: 2.5rem;
  z-index: 10;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

/* Duvidas */

.sobreDuvidas {
  background-color: var(--backgroundBlue);
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sobreDuvidas h1 {
  font-size: 1.5rem;
}

.sobreDuvidas p {
  font-size: 1.2rem;
}
.sobreDuvidas p a {
  font-weight: 600;
  color: var(--darkBlue);
}

/* Duvidas */

.duvidasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: fit-content;
}

.duvidasCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  background-color: var(--darkBlue);
  border-radius: 1rem;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
}

.duvidasCard h1 {
  font-weight: 800;
  font-size: 1rem;
}

.duvidasCard h2 {
  font-weight: 400;
  color: var(--lightBlue);
  text-align: center;
  font-size: 0.9rem;
  word-spacing: 0.15rem;
  padding: 0 2rem 2rem;
}

/* MAIN PAGE - END*/

/* Media Queries */

@media (max-width: 768px) {
  .areasInteresse {
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cursos {
    padding: 0 5%;
  }

  .carouselSection {
    margin: 0;
    border-radius: 0;
  }
}

@media (min-width: 1024px) {
  .carouselVideo {
    height: 300px;
  }

}
